#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tasks {
  height: 1.5em;
  font-size: 1.5em;
  box-shadow: 0 0 2em #fa1d1daa;
  text-align: center;
}

.tasks:hover {
  box-shadow: 0 0 2em #646cffaa;
  background-color: #646cffaa;
}

.title {
  text-decoration: underline;
}
